*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.logo{
    display: flex;
    gap: 10px;
}
.logo i{
    border-radius: 6px;
    height: 34px;
    font-size: 35px;
    display: flex;
    padding: 6px;
    background-color: silver;
}
.header ul{
    margin-left: 130px;
    display: flex;
    list-style: none;
   

}
.header ul li{
    padding: 0px 30px;
    font-size: 28px;
    cursor: pointer;
}
.header ul li:active{
    color:black ;
}
.header ul li:hover{
    text-decoration: underline;
}
.btnlog{
    font-size: 22px;
    border-radius: 10px;
    color: skyblue;
    background-color: orangered;
    padding: 12px 30px;
    border: none;
}
.hero{
    /* manta */
    display: flex;
    justify-content: space-between;
    padding: 12px 70px;


/* shalay */
    padding: 12px;
    border-radius: 16px;
    margin: 10px 50px;
    height: 500px;
    background-image: url("Assets/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* maanta */
.right-side{
/* manta */
    margin-top: 120px;
    /* shalay */
    background-color: white;
    width: 350px;
    height: 350px;
    padding: 12px;
    border-radius: 22px;
}
.left-side{
    margin-top: 100px;
    width: 550px;
}

.left-side h1{
    font-size: 70px;
    color: white;
}
.left-side p{
    font-size: 18px;
    color: white;
}
.location{
    height: 30px;
    width: 250px;
    border: none;
    background-color: rgb(179, 165, 165);
    border-radius:12px;
    padding: 6px;
    outline: none;
    margin-bottom: 10px;
}
.right-side p{
    margin-bottom: 20px;
}
.right-side button{
    width: 260px;
    padding: 12px;
    background-color: orange;
    border: none;
    border-radius: 28px;

    color: white;
    font-size: 21px;
    margin-top: 30px;
}
.input-parent{
    margin-top: 20px;
    display: flex;
    justify-content:space-between ;
}
.left-input input{
     height: 47px;
     width: 170px;
     border-radius: 8px;
     border: none;
     padding: 15px;
     background-color:rgba(230, 223, 223, 0.751)
}
.partner-parent{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.left-partner{
    width: 360px;
    font-size: 19px;
}
.right-partner img{
width: 150px;
}
.offer{
    height: 500px;
    background-color: #dce3f1;
}
.offer-title-parent{
    padding: 20px 50px;
display: flex;
justify-content: space-between;
}
.left-offer h4{
    color: orange;
    font-size: 20px;

}
.left-offer h1{
    font-size: 60px;

}
.offer-title-parent h3{
    font-size: 18px;
    color: coral;
    margin-top: 50px;
}
.box{
    background-color: white;
    height: 250px;
    border-radius: 18px;
    padding: 12px;
}
.box-parent{
      margin-bottom: 40px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
   
    
}
.box img{
    width: 100%;
    height: 150px;
    border-radius: 12px;

}
.box h3{
    margin-top: 6px;
}
.Info-parent{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.Info-parent i{

    color: orange;
}
.price-parent{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;


}
.clody-icon{
    display: flex;
    justify-content: space-between;
   /* margin-left: 30px; */


}
.benefit-parent{
 
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
}
.right-benefit{
width: 500px;


}
.left-benefit {
    position: relative;
}
.left-benefit .img1{
    background-repeat: no-repeat;
    background-size: cover;
background-image: url("Assets/5.jpeg");
border-radius: 12px;
height: 400px;
width: 300px;
background-color: coral;
width: 400px;

}
.left-benefit .img2{
    background-image: url("Assets/dd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    background-color: black;
    position: absolute;
    top: 140px;
    border-radius: 22px;
    right: -70px;
    border: 6px white solid;
}
/* Last ani ku daray */


.faq-section{
    margin-top: 50px;
    height: 400px;
  text-align: center;
  

}
.faq-section h4{
    color: orange;
    font-size: 20px;
    margin-bottom: 20px;
}
.faq-section h1{
   
    font-size: 50px;
    margin-bottom: 20px;
}
.faq-section p{
    font-size: 20px;
    color: grey;
}
.faq-one{
    border-radius: 4pxpx;
    border: 1px grey solid;
    width: 500px;
}
.faq-question{
    margin: 2px 20px;
    justify-content: space-between;
display:  flex;
padding: 20px;
}

.faq-parent{
    gap: 30px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.review-parent{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin: 50px 20px;

}
.review-parent img{
width: 650px;
height: 460px;
border-radius: 22px;
}
/* .box-review{
    font-size: 40px;
} */
.box-review i{
    font-size: 40px;
}
.box-review p{
    font-size: 20px;
    color: grey;
}

.box-review{
    margin-top:20px ;
    position: absolute;
    right: 300px;
    top: 130px;
    line-height: 50px;
    background-color: coral;
    padding: 20px;
    border: 12px;
}
.right-review h4{
    font-size: 30px;
    color: orange;
}
.right-review h1{
    font-size: 50px;
    
}

.footer{
    padding: 40px;
    background-color: black;
    height: 400px;
    padding: 40px;
    color: white;
}
.newletter-parent{
    display: flex;
    justify-content: space-between;
}
.email{
    background-color: white;
    padding: 16px 40px;
    border-radius: 12px;

}
.email input{
    border: none;
    outline: none;
}
.email button{
    background-color: orange;
    border: none;
    color: none;
    padding: 10px 21px;
    border-radius: 10px;
    color: white;
}
.links-parent{
    display: flex;
    margin-top: 60;
    justify-content: space-between;
}
.right-link{
    display: flex;
    gap: 70px;

}
.right-link h3{
    margin-bottom: 24px;
    font-size: 28px;
}
.right-benefit p{

}